{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- script and js -->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <link rel="stylesheet" href="{% static 'styles/index.css' %}">
     <style type="text/tailwindcss">
      @theme {
        --color-main-col1: #4A7CFF;
        --color-main-col2: #FF6B6B;
      }
    </style>
</head>
<body class="flex justify-center">
    <!-- parrent container -->
    <div class="h-dvh w-[80%] pt-6 flex flex-col items-center justify-center">
        <img src="{% static 'images/logo/logo.png' %}" alt="logo" class="size-16 rounded-xl">
        <h1 class="sm:text-5xl  font-bold pt-6 text-[1.4em] ">Campus lost and found</h1>
        <h2 class="sm:text-base text-sm pt-2">Lost something? Found something? Let's reunite it.</h2>
        <!-- btn 1 -->
        <button onclick="window.location.href='/found_items/'" class="bg-main-col1 text-white px-4 py-2 rounded-lg mt-6 flex justify-center h-[50px] w-64 text-sm items-center hover:bg-[#3050a0] focus:outline-2 focus:outline-offset-2 focus:outline-main-col1 active:bg-[#3050a0] cursor-pointer duration-300 ease-out "><img src="{% static 'images/camera.png' %}" alt="camera logo" class="h-[90%] m-5">I lost something</button>
           <!-- btn 2 -->
        <button onclick="window.location.href='/lost_items/'" class="bg-main-col2 text-white px-4 py-2 rounded-lg mt-6 flex justify-center h-[50px] w-64 text-sm items-center hover:bg-[#b34c4c] focus:outline-2 focus:outline-offset-2 focus:outline-main-col2 active:bg-[#b34c4c] cursor-pointer duration-300 ease-out "><img src="{% static 'images/search.png' %}" alt="camera logo" class="h-[90%] m-5">I found something</button>
        <span class="pt-7 hover:text-lime-900 hover:font-bold cursor-pointer duration-300 ease-out active:text-lime-950">Or browse recent finds below</span>
    </div>
</body>
</html>